<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!--    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Insert text here</title>
    <style type="text/css" media="all">
        #main{
            background-color: cadetblue;
        }
    </style>


</head>
<body>
Welcome hhh

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1> Welcome to Habari Social Network</h1>

        <div id="feedback"></div>

        <form class="form-horizontal">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">What's going on? </label>
                <div class="col-sm-10">
<!--                    <input type="hidden" name="person_id" id="1"/>-->
                    <textarea type="text" class="form-control" id="postText">
                        Type your comment here
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-post"
                            class="btn btn-primary btn-lg">Post
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>

<p id="feedback"></p>

<!--<script type="text/javascript"-->
<!--        src="webjars/jquery/2.2.4/jquery.min.js"></script>-->
<!--<script src="jquery-3.1.1.min.js"></script>-->
<!--<script type="text/javascript" src="main.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#bth-post").click(function (event) {

            //stop submit the form, we will post it manually.
            event.preventDefault();
            //
            post_ajax_submit();
           // alert("hello");

        })

    });

    function post_ajax_submit() {



        var post = {}
        post["postText"] = $("#postText").val();


        // $("#btn-post").prop("disabled", true);

        $.ajax({
            type: "POST",
            url: "http://localhost:8080/post/save",
            data: JSON.stringify(post),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert("I am here");


            },
            error: function (e) {
                alert("No no no I am here");


            }
        });

    }
</script>
</body>
</html>